@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes/TTLakes-Regular.ttf') format('embedded-opentype'),
        url('fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes/TTLakes-Medium.eot');
  src: local('TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
      url('fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
      url('fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: TT Lakes, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #F8F8F8;
    margin: 0;
    color: #1B1C21;
    letter-spacing: 0.2px;
    min-width: 320px;  
    width: 100%;
  } 

  .main-info__list {
    overflow: auto;
    scrollbar-width: none;
  }
  .main-info__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }


  .header {
    height: 88px;
    padding: 0 16px; 
    margin: 0;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    }
@media screen and (min-width: 768px) {
    .header {
        padding: 0 24px; 
    }
}
@media screen and (min-width: 1120px) {
  .header {
    border-bottom: none;
    background-color: #F8F8F8;
    margin-bottom: 0;
    height: 42px;
  }
}

@media screen and (min-width: 1120px) {
  .header__connect-menu {
    display: flex;
    position: absolute;
    margin-top: 200px;
  }
}

.header__burger-btn {
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .header__burger-btn{
    margin-right: 0;
  }
}

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0;
    }

  .header__divider1, .header__divider2 {
    background-color: #EAEAEA;
    border-radius: 1px;
    width: 2px;
    height: 32px;
    margin: 0 20px;
  }

  .header__burger-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .header__divider1 {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .header__divider1 {
        display: block;
    }
}
  .header__logo {
    width: 96px;
    height: 51px;
    margin-right: auto;
  }

  .header__connect-menu {
    display: none;
  }
  @media screen and (min-width: 768px) {
       .header__connect-menu {
        display: flex;
       justify-content: space-between; 
    } 
    .header__btn-chat,
    .header__btn-profile {
      margin-left: 16px;
    }
}

.header__btn-description {
  display: none;
}
@media screen and (min-width: 1120px) {
  .header__btn-description {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
  }
}

.header__aside-menu {
    display: flex;
    min-width: 96px;
    justify-content: space-between;
}

@media screen and (min-width: 1120px) {
  .header {
    border-bottom: none;
    background-color: #F8F8F8;
  }
  .header__aside-menu {
    display: flex;
    justify-content: space-between;
    width: 375px;
    margin-top: 95px;
  }
  .header__burger-btn,
  .header__divider1, 
  .header__logo,
  .header__connect-menu,
  .header__divider2 {
    display: none;
  }
}

 .main-info__title {
    line-height: 40px;
    font-size: 28px;
    color: #1B1C21;
    margin-bottom: 24px;
    margin-top: 0;
    font-weight: bold;
    letter-spacing: -0.6px;
    padding-left: 0;
 }

 .main-info__title::before {
  content: url(images/highlight.svg);
  margin-left: 0;
  margin-right: 12px;
  vertical-align: middle;
  display: inline-block;
 }
 @media screen and (min-width: 768px) {
  .main-info__title {
    margin-bottom: 32px;
    }
 }
 @media screen and (min-width: 1120px) {
  .main-info__title {
    margin-top: 0;
}
 }

 .main-info__list {
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    padding: 0;
    white-space: nowrap;
 }
 @media screen and (min-width: 768px) {
    .main-info__list {
        margin-left: 24px;
    } 
 }
 @media screen and (min-width: 1120px) {
  .main-info__list{
      margin-left: 24px;
      display: flex;
      flex-wrap: wrap;
  } 
}

 .main-info__link {
    text-decoration: none;
    color: #7E7E82;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
 }

 .main-info__link--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    width: 246px;
    height: 40px;
 }

 .article__container {
    margin-top: 24px;
    padding: 0 16px;
 }
 @media screen and (min-width: 768px) {
    .article__container {
        margin: 0 48px 0 0;
        padding: 0;
     }
 }

 .article__text--display--none {
    display: none;
 }
 @media screen and (min-width: 768px) {
    .article__text--display--none {
        display: block;
        margin:auto;
    }
    .article {
        display: flex;
        min-width: 768;
        padding: 0 24px;
        margin-top: 32px;
        align-items: flex-start;
    }
    .article__text {
      margin-top: 0;
    }
    .article__text-part--display--none {
        display: none;
    }
 }

 @media screen and (min-width: 1120px) {
  .article__text-part--display--none {
    display: flex;
}
}

 .article__read-more {
    min-width: 100px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    border: none;
    background-color:#F8F8F8;
    white-space: nowrap;
    font-family: TT Lakes, Arial, Helvetica, sans-serif;
    color:#1B1C21;
    line-height: 24px;
    margin-left: 8px;
 }

.icon-btn {
    min-width: 7.5px;
    min-height: 10.3px;
    margin-right: 16px;
}

.article-picture {
    min-height: 176px; 
    min-width: 320px;
    width: 100%;
    border-radius: 6px;
}
@media screen and (min-width: 768px) {
    .article-picture {
        min-width: 360px;
        min-height: 208px;
        margin: auto;
        
    }
 }
 @media screen and (min-width: 1120px) {
  .article-picture {
    min-width: 530px;
    min-height: 307px;
}
 }

 
