@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('../fonts/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Medium.eot');
  src: local('../fonts/TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
      url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
}
/* контейнер с выпадающим содержимым */
.block-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background-color: #FFFFFF;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-top: 20px;
    height: 100vh;
    min-height: 100%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    width: 320px;
    overflow: auto;
    scrollbar-width: none;
}

.block-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0;
    }

button:hover, button:focus {
    opacity: 0.7;
    transform: scale(1.1);
    transition-property: transform, opacity;
    transition-duration: 0.5s, 0.5s; 
}


.block-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 0 24px;
    margin-bottom: 50px;
}

.block-menu__burger-btn,
.contacts__btn-call,
.contacts__btn-chat {
    margin-right: 16px;
}

.block-menu__logo {
    margin-right: auto;
}

.block-menu__list {
    margin: 0;
    padding: 0;
    width: 320px;
    margin-bottom: auto;
    list-style: none;
    background-color: #FFFFFF;
    
}

.block-menu__link {
    color: #1B1C21;
    display:flex;
    align-items: center;
    padding: 10px 24px;
    text-decoration: none;
}
.block-menu__link:hover {
    opacity: 0.5;
}
.block-menu__link--active {
    color: #7E7E82;
    padding: 0;
    
}

.block-menu__link--active::before {
    display: inline-block;
    vertical-align: middle;
    vertical-align: center;
    margin-right: 20px;
    content: url("../images/highlight.svg");
    
}

.block-menu__contacts {
padding: 0 24px 32px 24px;

}
.contacts__connect {
    display: flex;
    padding-bottom: 16px; 
}
.contacts__mail-link,
.lang-list__link {
    text-decoration: none;
    color: #1B1C21;
    margin-right: 16px;
}
.lang-list__item {
    list-style: none;
}
.block-menu__lang-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.contacts__phone-num {
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 40px;
}
.lang-list__link--active {
    color: #7E7E82;
}